<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1 class="heading">Quora Posts</h1>
    <a href="http://localhost:8080/posts/new">Create New Post</a>
    <%  for(post of posts){ %>
    <div class="post">
        <h2 class="user"> @<%= post.username %> </h2>
        <h3 class="content"> <%= post.content %> </h3>
        <a href="http://localhost:8080/posts/<%= post.id %>">See in detail</a>
        <a href="http://localhost:8080/posts/<%= post.id %>/edit">Edit</a><br><br>
        <form method="post" action="/posts/<%= post.id %>?_method=DELETE">
            <button>Delete</button>
        </form>
    </div>
    <%  }   %>
</body>
</html>